  <%- include('../partials/header') %>
      <h1><%=title%></h1>
 
      <p>This page is just a quick over view of DRUM AND BUGLE CORPS. </p>    
      <p>In this world there are two levels of competition.</p>    
      <H3p>DCI: Drum Corps International </h3>
      <p>Found in 1971 </p>  
      <p>This class is top competition and had a strict age out. After the age of 22 years old.</p>
      <h3>DCA: Drum Corps Associates </h3>
      <p>Founded in 1963 </p>
      <p>This is a smaller comepeition with few corps throughout the satets and a few a abroad </p> 
       <p>In this class you can march as young as 13 years and there is no age out here. In my personal experience I have marched with someone as old as 78 years old.</p>

    <h3>Championships and my experience </h3>

     <p>Both corps class have the same goal. You spend the summer building a 10-12 mintue show</p>
     <p>Than compete against other corps at varies show around the states. </p>
     <p>Both have the biggest show at the end of summer.  </p>
     <p> DCI has WORLD CHAMPIONSHIP FINALS @ Lucas Stadium and it's a 3 day event. </p>
     <p>DCA has WORLD CHAMPIONSHIPS in Rochster, NY and it's also a 3 day event. </p>  
     <p>My experience is with Atlanta CV, at the tiem was the only corps in the south. </p> 
    <p>I spent two summers with them and marched in the contra (form of Tuba) line.</p>
    <h2>Check out these wonderful organizations </h2>
    <h4>https://www.dci.org/</h4>
    <h4>https://dcacorps.org/</h4>
    <h4>https://atlantacv.org/</h4> 

    <img src="https://atlantacv.org/wp-content/uploads/2017/09/cv_star_400x400.png" width=300 height=300>

  <%- include('../partials/footer') %>
