  <%- include('../partials/header') %>
      <h1><%=title%></h1>
    
      <p>Welcome to my web page. This page is a demo showing my use of Node, Express, and EJS</p>    
      <p>In the next three pages will see some of my favorite hobbies.</p> 
    
      <h2>Check them out above! </h2>
    <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAkKIN5-E2remD_kUzWuXWoiK9EI0ozPsaKg&usqp=CAU" width=300 height=300>
  <%- include('../partials/footer') %>
