  <%- include('../partials/header') %>
      <h1><%=title%></h1>
    
      <h2>Plants, Plants, and more Plants!!</h2>    
      <p>I am a self proclamied plant Queen</p> 
    
      <h2>My current catalog</h2>    
      <p>Pothos: I currently have 4 variations. This includes silver, neon, marble, and just a regular green. </p>
      <p>Snake Plant: I curently have 1 giant one and it's given me 3 new plants from it's cuttings.</p> 
    
      <h2>My prized possession</h2> 
      <p>My Monstera *heart eyes*</p> 
      <p>The beast of plants, love to 'climb' on moss poles, have filtered sun and if you water it jsut right it will reward you with all the new leaves.</p> 
      <p>It is a tropical plant, so keeping it alive, thriving, and surving in washington is a task.</p> 
      <p>Disclamier: not real photo of my plant catalog. </p>
    
      <img src="https://media.architecturaldigest.com/photos/615c7d11b78dc57cc9295838/master/pass/003.JPG" width=300 height=300>
  <%- include('../partials/footer') %>