  <%- include('../partials/header') %>
      <h1><%=title%></h1>
    
      <h1>swim: Butterfly</h1>    
      <p>How fast can you swim?</p>    
      <p>Swimming is good for your health and heart. comeptive swimming is good for the soul! </p>    
      <p>My personal favorit is the 200 butterfly, this is my swim and require stamina and jsut a love for the sport. </p>
    
      <h2>See butterfly in action pictured below</h2>
      <p>This is not me but a professional Check out what's going on in the swim world here<p>
        
      <h2>https://www.usaswimming.org/</h2> 
    <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_459214425_259091.jpg" width=300 height=300>
  <%- include('../partials/footer') %>